<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <variable name="myvar" value="myvalue"/>

  
  <targets>
    <target xsi:type="File" 
            name="fileLog" 
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${machinename} ${uppercase:${level}} ${message}"/>

    <target xsi:type="ColoredConsole"
            name="coloredConsoleLog"
            layout="${message}"
            useDefaultRowHighlightingRules="true"/>

     <target xsi:type="Console"
     		name="consoleLog"
     		layout="${longdate} ${machinename} ${message}"/>
  </targets>

  <rules>
    <logger name="*" levels="Error,Fatal" writeTo="fileLog"></logger>
    <logger name="*" level="Trace" writeTo="consoleLog"></logger>
    <logger name="*" levels="Error,Warn,Info" writeTo="coloredConsoleLog"></logger>
  </rules>
</nlog>